<!-- Blog Grid Carousel
============================================= -->
<section id="blog" class="blog blog-carousel pb-100">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="heading heading-2 text--center mb-50">
					<p class="heading--subtitle">Latest News</p>
					<h2 class="heading--title">Our Insights & Articles</h2>
					<p class="heading--desc">Follow our latest news and thoughts which focuses exclusively on design, art, vintage, and also our latest work updates.</p>
					<div class="divider--line divider--center m-0"></div>
				</div>
			</div><!-- .col-md-8 end -->
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="carousel carousel-dots" data-slide="3" data-slide-rs="2" data-autoplay="true" data-nav="false" data-dots="true" data-space="25" data-loop="true" data-speed="800">

				<!-- Blog Entry #1 -->
			<div class="blog-entry">
					<div class="entry--img">
						<a href="#">
<img src="assets/images/blog/grid/1.jpg" alt="entry image"/>
</a>
					</div>
					<div class="entry--content">
						<div class="entry--format">
							<i class="fa fa-image"></i>
						</div>
						<div class="entry--meta">
							<span><a href="#">Business</a></span>
						</div>
						<div class="entry--title">
							<h4><a href="#">Four ways to cheer yourself up on the Next Blue Monday!</a></h4>
						</div>
						<div class="entry--bio">
							The third Monday of January is supposed to be the most depressing day of the year. Whether you believe that or not, the long nights, cold weather and trying to keep...
						</div>
						<div class="entry--footer">
							<div class="entry--date">
								Feb 22, 2017
							</div>
							<div class="entry--more">
								<a href="#"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
							</div>
						</div>
					</div>
					<!-- .entry-content end -->
				</div>
				<!-- .blog-entry end -->

			<!-- Blog Entry #2 -->
			<div class="blog-entry">
					<div class="entry--img">
						<a href="#">
<img src="assets/images/blog/grid/2.jpg" alt="entry image"/>
</a>
					

					</div>
					<div class="entry--content">
						<div class="entry--format">
							<i class="fa fa-image"></i>
						</div>
						<div class="entry--meta">
							<span><a href="#">Modern</a> , <a href="#">Photography</a></span>
						</div>
						<div class="entry--title">
							<h4><a href="#">Old cameras can capture images better than nowdays</a></h4>
						</div>
						<div class="entry--bio">
							Actually, Woodstock was not the first outdoor festival to feature multiple bands over several days performing on a stage set up out in the middle of a farmer’s field...
						</div>
						<div class="entry--footer">
							<div class="entry--date">
								Feb 22, 2017
							</div>
							<div class="entry--more">
								<a href="#"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
							</div>
						</div>
					</div>
					<!-- .entry-content end -->
				</div>
				<!-- .blog-entry end -->

			<!-- Blog Entry #3 -->
			<div class="blog-entry">
					<div class="entry--img">
						<a href="#">
<img src="assets/images/blog/grid/3.jpg" alt="entry image"/>
</a>
					

					</div>
					<div class="entry--content">
						<div class="entry--format">
							<i class="fa fa-image"></i>
						</div>
						<div class="entry--meta">
							<span><a href="#">Technology</a> , <a href="#">City</a></span>
						</div>
						<div class="entry--title">
							<h4><a href="#">New subway line has the most advanced technology</a></h4>
						</div>
						<div class="entry--bio">
							That may be true, but today, almost half a century later, Gary Eagle says it was only part of the story. “Well,” he begins, “it was a few things. We were hauling a piano through...
						</div>
						<div class="entry--footer">
							<div class="entry--date">
								Feb 22, 2017
							</div>
							<div class="entry--more">
								<a href="#"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
							</div>
						</div>
					</div>
					<!-- .entry-content end -->
				</div>
				<!-- .blog-entry end -->

			<!-- Blog Entry #4 -->
			<div class="blog-entry">
					<div class="entry--img">
						<a href="#">
<img src="assets/images/blog/grid/4.jpg" alt="entry image"/>
</a>
					

					</div>
					<div class="entry--content">
						<div class="entry--format">
							<i class="fa fa-image"></i>
						</div>
						<div class="entry--meta">
							<span><a href="#">Design</a> , <a href="#">Tips</a></span>
						</div>
						<div class="entry--title">
							<h4><a href="#">7 Signs You’re Not A Good UX Designer Yet!Discussion</a></h4>
						</div>
						<div class="entry--bio">
							UX Designer is still a relatively new profession, and one that is still being defined. Emil suggests it is an often misinterpreted role and that ‘User Experience Designer’ is...
						</div>
						<div class="entry--footer">
							<div class="entry--date">
								Feb 22, 2017
							</div>
							<div class="entry--more">
								<a href="#"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
							</div>
						</div>
					</div>
					<!-- .entry-content end -->
				</div>
				<!-- .blog-entry end -->

			<!-- Blog Entry #5 -->
			<div class="blog-entry">
					<div class="entry--img">
						<a href="#">
<img src="assets/images/blog/grid/1.jpg" alt="entry image"/>
</a>
					

					</div>
					<div class="entry--content">
						<div class="entry--format">
							<i class="fa fa-image"></i>
						</div>
						<div class="entry--meta">
							<span><a href="#">Money</a> , <a href="#">Tips</a></span>
						</div>
						<div class="entry--title">
							<h4><a href="#">15 Money Tips To Make You Rich In the end of 2015</a></h4>
						</div>
						<div class="entry--bio">
							To make 2015 your most lucrative year yet, you may have to do some things differently than what you've done in the past.Here are 15 action items that can put you ahead...
						</div>
						<div class="entry--footer">
							<div class="entry--date">
								Feb 22, 2017
							</div>
							<div class="entry--more">
								<a href="#"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
							</div>
						</div>
					</div>
					<!-- .entry-content end -->
				</div>
				<!-- .blog-entry end -->

			<!-- Blog Entry #6 -->
			<div class="blog-entry">
					<div class="entry--img">
						<a href="#">
<img src="assets/images/blog/grid/6.jpg" alt="entry image"/>
</a>
					

					</div>
					<div class="entry--content">
						<div class="entry--format">
							<i class="fa fa-image"></i>
						</div>
						<div class="entry--meta">
							<span><a href="#">Travel</a></span>
						</div>
						<div class="entry--title">
							<h4><a href="#">Don’t miss Top Things To Do In San Francisco </a></h4>
						</div>
						<div class="entry--bio">
							As the shimmering "City by the Bay," San Francisco’s distinctive terrain – water on one side, hills on the other – leads to spectacular views and experiences that could...
						</div>
						<div class="entry--footer">
							<div class="entry--date">
								Feb 22, 2017
							</div>
							<div class="entry--more">
								<a href="#"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
							</div>
						</div>
					</div>
					<!-- .entry-content end -->
				</div>
				<!-- .blog-entry end -->
			</div><!-- .carousel end -->
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #blog end -->