
<section id="page-title" class="page-title bg-overlay bg-overlay-theme">
	<div class="bg-section">
		<img src="/assets/images/page-title/title-6.jpg" alt="Background"/>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="title title-2 text-center">
					<div class="title--content">
						<div class="title--heading">
							<h1>Blog standard</h1>
						</div>
						<div class="title--desc">
							<p>League is a creative multi-concept WordPress theme perfectly designed to make awesome website for any business. </p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- .title end -->
			</div>
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section> <!-- #page-title end -->


<!-- Blog Standard
============================================= -->
<section id="blog" class="blog blog-standard">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<!-- Blog Entry #1 -->
				<div class="blog-entry">
						<div class="entry--img">
							<a href="#">
								<img src="/assets/images/blog/standard/1.jpg" alt="entry image"/>
							</a>
						</div>
						<div class="entry--content">
						<div class="entry--format">
							<i class="fa fa-image"></i>
						</div>
            <div class="entry--meta">
							<span>Oct 25, 2016</span>
							/
							<span><a href="#">Business</a></span>
							/ <span>comments <a href="#">11</a></span>
						</div>
						<div class="entry--title">
							<h4><a href="#">Four ways to cheer yourself up on the Next Blue Monday!</a></h4>
						</div>
						<div class="entry--bio">
							The theory was first published in 2005 a press released under the name of Cliff Arnall, who at the time was a tutor at the Centre for Lifelong Learning – a Further Education centre associated with Cardiff University. Later, however, the Guardian printed a statement from the university distancing itself from the psychology professor: "Cardiff University asked us to point out that Cliff Arnall... was a former part-time tutor at the university but left in February."Blue Monday, which falls on 18 January in 2016, is allegedly the most depressing day of the year. Understandably, tightened purse strings following the festive splurge...
						</div>
						<div class="entry--more">
								<a href="#"><i class="fa fa-long-arrow-right"></i><span>read more</span></a>
							</div>
					</div>
					<!-- .entry-content end -->
				</div>
				<!-- .blog-entry end -->

				<!-- Blog Entry #2 -->
				<div class="blog-entry">
						<div class="entry--img">
							<a href="#">
								<img src="/assets/images/blog/standard/2.jpg" alt="entry image"/>
							</a>
						</div>
						<div class="entry--content">
						<div class="entry--format">
							<i class="fa fa-image"></i>
						</div>
            <div class="entry--meta">
							<span>Oct 25, 2016</span>
							 /
							<span><a href="#">Modern</a> , <a href="#">Photography</a></span>
							/ <span>comments <a href="#">30</a></span>
						</div>
						<div class="entry--title">
							<h4><a href="#">Old cameras can capture images better than nowdays</a></h4>
						</div>
						<div class="entry--bio">
							The theory was first published in 2005 a press released under the name of Cliff Arnall, who at the time was a tutor at the Centre for Lifelong Learning – a Further Education centre associated with Cardiff University. Later, however, the Guardian printed a statement from the university distancing itself from the psychology professor: "Cardiff University asked us to point out that Cliff Arnall... was a former part-time tutor at the university but left in February."Blue Monday, which falls on 18 January in 2016, is allegedly the most depressing day of the year. Understandably, tightened purse strings following the festive splurge...
						</div>
						<div class="entry--more">
								<a href="#"><i class="fa fa-long-arrow-right"></i><span>read more</span></a>
							</div>
					</div>
					<!-- .entry-content end -->
				</div>
				<!-- .blog-entry end -->

				<!-- Blog Entry #3 -->
				<div class="blog-entry">
						<div class="entry--img">
							<a href="#">
								<img src="/assets/images/blog/standard/3.jpg" alt="entry image"/>
							</a>
						</div>
						<div class="entry--content">
						<div class="entry--format">
							<i class="fa fa-image"></i>
						</div>
            <div class="entry--meta">
							<span>Oct 25, 2016</span>
							/ <span>comments <a href="#">6</a></span> /
							<span><a href="#">Technology</a> , <a href="#">City</a></span>
						</div>
						<div class="entry--title">
							<h4><a href="#">New subway line has the most advanced technology world!</a></h4>
						</div>
						<div class="entry--bio">
							The theory was first published in 2005 a press released under the name of Cliff Arnall, who at the time was a tutor at the Centre for Lifelong Learning – a Further Education centre associated with Cardiff University. Later, however, the Guardian printed a statement from the university distancing itself from the psychology professor: "Cardiff University asked us to point out that Cliff Arnall... was a former part-time tutor at the university but left in February."Blue Monday, which falls on 18 January in 2016, is allegedly the most depressing day of the year. Understandably, tightened purse strings following the festive splurge...
						</div>
						<div class="entry--more">
								<a href="#"><i class="fa fa-long-arrow-right"></i><span>read more</span></a>
							</div>
					</div>
					<!-- .entry-content end -->
				</div>
				<!-- .blog-entry end -->

					<!-- Blog Entry #4 -->
				<div class="blog-entry">
						<div class="entry--img">
							<a href="#">
								<img src="/assets/images/blog/standard/4.jpg" alt="entry image"/>
							</a>
						</div>
						<div class="entry--content">
						<div class="entry--format">
							<i class="fa fa-image"></i>
						</div>
            <div class="entry--meta">
							<span>Oct 25, 2016</span>
							 /
							<span><a href="#">Modern</a> , <a href="#">Photography</a></span>
							/ <span>comments <a href="#">30</a></span>
						</div>
						<div class="entry--title">
							<h4><a href="#">Old cameras can capture images better than nowdays</a></h4>
						</div>
						<div class="entry--bio">
							The theory was first published in 2005 a press released under the name of Cliff Arnall, who at the time was a tutor at the Centre for Lifelong Learning – a Further Education centre associated with Cardiff University. Later, however, the Guardian printed a statement from the university distancing itself from the psychology professor: "Cardiff University asked us to point out that Cliff Arnall... was a former part-time tutor at the university but left in February."Blue Monday, which falls on 18 January in 2016, is allegedly the most depressing day of the year. Understandably, tightened purse strings following the festive splurge...
						</div>
						<div class="entry--more">
								<a href="#"><i class="fa fa-long-arrow-right"></i><span>read more</span></a>
							</div>
					</div>
					<!-- .entry-content end -->
				</div>
				<!-- .blog-entry end -->
			</div>
		</div><!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 clearfix mt-20 text--center">
			  <ul class="pagination">
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li>
				  <a href="#" aria-label="Next">
					  <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
				  </a>
				</li>
			  </ul>
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #blog end -->
