
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>

<section id="contact" class="contact pb-0 pt-0">
	<div class="container-fluid pr-0 pl-0">
		<div class="row">
			<div class="col-xs-12  col-sm-12  col-md-12 pr-0 pl-0">
    <div id="map"></div>
			</div>
		</div>
	</div>

		<div class="container">
		<div class="row contact-row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="heading heading-6 text--center mb-70">
					<p class="heading--subtitle text-white">Contact Us</p>
					<h2 class="heading--title  text-white">Get in Touch</h2>
					<div class="divider--line divider--center divider--medium divider--white"></div>
				</div>
			</div><!-- .col-md-8 end -->
			<div class="clearfix"></div>
			<!-- Contact Panel #1 -->
			<div class="col-xs-12 col-sm-6 col-md-3 contact-panel">
				<i class="fa fa-map-marker"></i>
				<h3>Our Address</h3>
				<p>Alnahas Building, 2 AlBahr St, Tanta AlGharbia, Egypt.</p>
				<a class="contact-action" href="#">Directions</a>
			</div><!-- .col-md-4 end -->
			<!-- Contact Panel #2 -->
			<div class="col-xs-12 col-sm-6 col-md-3 contact-panel">
				<i class="fa fa-phone"></i>
				<h3>Our Phone</h3>
				<p>Office Telephone : 002 01065370701 Mobile : 002 01065370701</p>
				<a class="contact-action" href="#">Call Us</a>
			</div><!-- .col-md-4 end -->
			<!-- Contact Panel #3 -->
			<div class="col-xs-12 col-sm-6 col-md-3 contact-panel">
				<i class="fa fa-envelope"></i>
				<h3>Our Email</h3>
				<p>Main Email : ayman@zytheme.com Inquiries : Info@zytheme.com</p>
				<a class="contact-action" href="#">Send a Message</a>
			</div><!-- .col-md-4 end -->
			<!-- Contact Panel #4 -->
			<div class="col-xs-12 col-sm-6 col-md-3 contact-panel">
				<i class="fa fa-users"></i>
				<h3>Our Support</h3>
				<p>Support : ayman@zytheme.com Sales : Sales@zytheme.com</p>
				<a class="contact-action" href="#">Open a Ticket</a>
			</div><!-- .col-md-4 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #contact end -->

    <script>
      function initMap() {
        var uluru = {lat: 30.267153, lng: -97.743061};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrfqxnEuRipCDCjiYgF4LJ4CyfFn4r2kw&callback=initMap">
    </script>
