

<style>
.title-area {
    margin-right: -15px;
    margin-left: -15px;
    padding: 50px; 
}

</style>

<section id="feature3" class="feature feature-left feature-heading feature-3 bg-white">
	<div class="container">
		<div class= "title-area">
		<div class="row">
    <div class="heading heading-2 mb-40 text--center">
    	
          <p class="heading--subtitle">Now this is</p>
          <h2 class="heading--title">What I do</h2>
          <div class="divider--line divider--center"></div>
     
    </div>
			<!-- Panel #1 -->
			<div class="col-xs-12 col-sm-4 col-md-4">

				<div class="feature-panel">
					<div class="feature--content">
						<h3>Web Development</h3>
						<p>From Content Management System solutions to Full Stack Applications I'm fluent in various frameworks that provide flexible, fast and most importantly reliable platforms for your users. </p>
					</div>
				</div><!-- .feature-panel end -->
			</div><!-- .col-md-4 end -->
			
			<!-- Panel #2 -->
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="feature-panel">
					<div class="feature--content">
						<h3>CRM</h3>
						<p>Email Marketing platforms like MailChimp and Customer Relationship Managemenet software like Salesforce are the new standard in managing customer interaction.   </p>
					</div>
				</div><!-- .feature-panel end -->
			</div><!-- .col-md-4 end -->
			
			<!-- Panel #3 -->
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="feature-panel">
					<div class="feature--content">
						<h3>Digital Marketing </h3>
						<p>At its core, every brand has something special to reveal something that inspires people this plan if you plan to create a small portfolio or busines showcase for you studio or business company.</p>
					</div>
				</div><!-- .feature-panel end -->
			</div><!-- .col-md-4 end -->

		</div><!-- .row end -->
	</div> <!-- title-area-->
	
	</div><!-- .container end -->

</section><!-- .feature3 end -->