<!-- Page Title #1
============================================= -->
<section id="page-title" class="page-title">
	<div class="container-fluid bg-overlay bg-overlay-theme">
		<div class="bg-section">
			<img src="assets/images/page-title/title-1.jpg" alt="Background"/>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="title title-1 text--center">
					<div class="title--content">
						<div class="title--heading">
							<h1>portfolio hover 2</h1>
						</div>
					</div>
				</div><!-- .page-title end -->
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #page-title end -->

<div class="clearfix pt-150 bg-white"></div>

<!-- Portfolio 3 Column
============================================= -->
<section id="portfolio" class="portfolio portfolio-grid portfolio-3col portfolio-hover-2">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="heading heading-2 mb-40 text--center">
					<p class="heading--subtitle">What We Do</p>
					<h2 class="heading--title">Our Great Works</h2>
					<p class="heading--desc">At League Agency, we shows only the best websites and portfolios built completely with passion, simplicity &amp; creativity !</p>
					<div class="divider--line divider--center"></div>
				</div>
			</div><!-- .col-md-8 end -->
		</div>
		<div class="row">
			<!-- Portfolio Filter
			============================================= -->
			<div class="col-xs-12 col-sm-12 col-md-12 portfolio-filter">
				<ul class="list-inline mb-0">
					<li><a class="active-filter" href="#" data-filter="*">All</a></li>
					<li><a href="#" data-filter=".filter-branding">Branding</a></li>
					<li><a href="#" data-filter=".filter-packaging">packaging</a></li>
					<li><a href="#" data-filter=".filter-print">Print</a></li>
					<li><a href="#" data-filter=".filter-web">Web Development</a></li>
				</ul>
			</div>
			<!-- .Portfolio-filter end --> 
		</div>
		<div id="portfolio-all">
			<!-- Portfolio #1 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-print filter-web">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/1.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/1.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
									<h4><a href="#"> Woman T Shirt MockUp</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a> , <a href="#">branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end --> 
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->
			
			<!-- Portfolio #2 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-packaging">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/2.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/2.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
									<h4><a href="#">Black Fish Branding</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a> , <a href="#">Print</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end --> 
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->
			
			<!-- Portfolio #3 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/3.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/3.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
									<h4><a href="#">The Living Branding</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a> , <a href="#">Print</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end --> 
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->
			
						<!-- Portfolio #4 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/4.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/4.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
									<h4><a href="#">Free Coffee Cup Mockup</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a> , <a href="#">Print</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end --> 
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->
			
			<!-- Portfolio #5 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-print">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/5.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/5.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
									<h4><a href="#">Black Fish Branding</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a> , <a href="#">Print</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end --> 
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->
			
			<!-- Portfolio #6 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/6.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/6.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
									<h4><a href="#">Gifts Box Mockup</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a> , <a href="#">Print</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end --> 
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->
		</div><!-- .row end -->
		<!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 text--center mt-10">
				<a class="btn btn--link btn-more" href="#"><span></span>Load More</a>
			</div><!-- .col-md-2 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #portfolio end -->
