<section id="skills4" class="skills bg-white">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <div class="heading heading-2 mb-50 text--center">
          <p class="heading--subtitle">Who we are?</p>
          <h2 class="heading--title heding--center">We Are League Agency</h2>
          <div class="divider--line divider--center"></div>
        </div>
      </div><!-- .col-md-8 end -->
    </div><!-- .row end -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="text-right mb-60">League is not just about graphic design; it's more than that. We offer 
          integral communication services, and we're responsible for our process and results. We thank each of our clients and their projects; thanks to them we have grown and built what we are today!</p>
        <!-- progress 1 -->
        <div class="progressbar">
          <div class="progress-title">
            <span class="title">Marketing</span>
            <span class="value">95%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <!-- .progressbar end -->
        
        <!-- progress 3 -->
        <div class="progressbar">
          <div class="progress-title">
            <span class="title">User Experience</span>
            <span class="value">81%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <!-- .progressbar end -->
      </div><!-- .col-md-6 end -->
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="mb-60">Our agency can only be as strong as our people and because of this, our team have run their own businesses, designed game changing products, consulted for companies as well as competed collegiately and professionally when it comes to sports.</p>
        <!-- progress 2 -->
        <div class="progressbar">
          <div class="progress-title">
            <span class="title">Development</span>
            <span class="value">87%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <!-- .progressbar end -->
        
        <!-- progress 4 -->
        <div class="progressbar">
          <div class="progress-title">
            <span class="title">Branding</span>
            <span class="value">70%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <!-- .progressbar end -->
      </div>
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #skills4 end -->
