
<style>
.workflow {

    padding: 50px; 
}

</style>

<section id="workflow" class="workflow">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <div class="heading heading-2 mb-50 text--center">
          <p class="heading--subtitle">Here's some of my</p>
          <h2 class="heading--title heding--center">Recent Work</h2>
          <div class="divider--line divider--center"></div>
        </div>
      </div><!-- .col-md-8 end -->
    </div><!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #skills4 end -->
