	<!-- Elements Menu -->
	<li class="has-dropdown mega-dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">elements</a>
		<ul class="dropdown-menu mega-dropdown-menu">
			<li>
				<div class="container">
					<div class="row">
						<!-- Column #1 -->
						<div class="col-md-3">
							<a href="#">interactive elements</a>
							<ul>
								<li>
									<a href="elements-testimonials.html"><i class="fa fa-quote-right"></i>testimonials</a>
								</li>
								<li>
									<a href="elements-blockquotes.html"><i class="fa fa-quote-left"></i>blockquotes</a>
								</li>
								<li>
									<a href="elements-video-buttons.html"><i class="fa fa-toggle-right"></i>video buttons</a>
								</li>
								<li>
									<a href="elements-clients.html"><i class="fa fa-user"></i>clients</a>
								</li>
								<li>
									<a href="elements-clients-carousel.html"><i class="fa fa-users"></i>clients carousel</a>
								</li>
								<li>
									<a href="elements-post-carousel.html"><i class="fa fa-newspaper-o"></i>post carousel</a>
								</li>
								<li>
									<a href="elements-portfolio.html"><i class="fa fa-building-o"></i>portfolio</a>
								</li>
								<li>
									<a href="elements-interactive-banners.html"><i class="fa fa-clone"></i>interactive banners</a>
								</li>
								<li>
									<a href="elements-about.html"><i class="fa fa-server"></i>about</a>
								</li>
								<li>
									<a href="elements-services.html"><i class="fa fa-life-ring"></i>services</a>
								</li>
								<li>
									<a href="elements-event.html"><i class="fa fa-calendar"></i>event planner</a>
								</li>
							</ul>
						</div>
						<!-- .col-md-3 end -->
						
						<!-- Column #2 -->
						<div class="col-md-3">
							<a href="#">standard elements</a>
							<ul>
								<li>
									<a href="elements-accordion.html"><i class="fa fa-server"></i>accordion</a>
								</li>
								<li>
									<a href="elements-buttons.html"><i class="fa fa-suitcase"></i>buttons</a>
								</li>
								<li>
									<a href="elements-cta.html"><i class="fa fa-child"></i>call to action</a>
								</li>
								<li>
									<a href="elements-contact-form.html"><i class="fa fa-desktop"></i>contact form</a>
								</li>
								<li>
									<a href="elements-team.html"><i class="fa fa-group"></i>team variations</a>
								</li>
								<li>
									<a href="elements-tabs.html"><i class="fa fa-ellipsis-h"></i>tabs</a>
								</li>
								<li>
									<a href="elements-social.html"><i class="fa fa-facebook"></i>social icons</a>
								</li>
								<li>
									<a href="elements-maps.html"><i class="fa fa-map-marker"></i>google maps</a>
								</li>
								<li>
									<a href="elements-forms.html"><i class="fa fa-check-square"></i>forms</a>
								</li>
								<li>
									<a href="elements-covers.html"><i class="fa fa-file-image-o"></i>Section covers</a>
								</li>
								<li>
									<a href="elements-restaurant-menu.html"><i class="fa fa-file-text"></i>restaurant menu</a>
								</li>
							</ul>
						</div>
						<!-- .col-md-3 end -->
						
						<!-- Column #3 -->
						<div class="col-md-3">
							<a href="#">infographics elements</a>
							<ul>
								<li>
									<a href="elements-counter-down.html"><i class="fa fa-bomb"></i>countdown</a>
								</li>
								<li>
									<a href="elements-counters.html"><i class="fa fa-dashboard"></i>counters</a>
								</li>
								<li>
									<a href="elements-number-process.html"><i class="fa fa-dot-circle-o"></i>number process</a>
								</li>
								<li>
									<a href="elements-pricing.html"><i class="fa fa-exchange"></i>pricing</a>
								</li>
								<li>
									<a href="elements-pie-charts.html"><i class="fa fa-circle-o-notch"></i>pie charts</a>
								</li>
								<li>
									<a href="elements-list.html"><i class="fa fa-list"></i>list</a>
								</li>
								<li>
									<a href="elements-progress-bars.html"><i class="fa fa-hourglass-half"></i>progress bars</a>
								</li>
								<li>
									<a href="elements-work-process.html"><i class="fa fa-recycle"></i>work process</a>
								</li>
								<li>
									<a href="elements-workflow.html"><i class="fa fa-suitcase"></i>workflow</a>
								</li>
								<li>
									<a href="elements-typed-out.html"><i class="fa fa-edit"></i>typed out</a>
								</li>
								<li>
									<a href="elements-info-box.html"><i class="fa fa-object-group"></i>info boxes</a>
								</li>
								<li>
									<a href="elements-footers.html"><i class="fa fa-bullhorn"></i>footers</a>
								</li>
								<li>
									<a href="elements-screenshots.html"><i class="fa fa-mobile"></i>screenshots</a>
								</li>
								
							</ul>
						</div>
						<!-- .col-md-3 end -->
						
						<!-- Column #4 -->
						<div class="col-md-3">
							<a href="#">typography</a>
							<ul>
								<li>
									<a href="elements-heading.html"><i class="fa fa-sort-alpha-asc"></i>heading</a>
								</li>
								<li>
									<a href="elements-columns-grids.html"><i class="fa fa-th"></i>columns grids</a>
								</li>
								<li>
									<a href="elements-timeline.html"><i class="fa fa-sort-amount-asc"></i>timeline</a>
								</li>
								<li>
									<a href="elements-icon-text.html"><i class="fa fa-sliders"></i>icon text</a>
								</li>
								<li>
									<a href="elements-navigation.html"><i class="fa fa-bars"></i>navigation</a>
								</li>
								<li>
									<a href="elements-messages.html"><i class="fa fa-exclamation-triangle"></i>messages</a>
								</li>
								<li>
									<a href="elements-media.html"><i class="fa fa-play-circle"></i>media</a>
								</li>
								<li>
									<a href="elements-tables.html"><i class="fa fa-table"></i>tables</a>
								</li>
								<li>
									<a href="elements-typography.html"><i class="fa fa-sort-alpha-desc"></i>typography</a>
								</li>
								<li>
									<a href="elements-highlights.html"><i class="fa fa-text-height"></i>highlights</a>
								</li>
								<li>
									<a href="elements-code.html"><i class="fa fa-code"></i>code</a>
								</li>
							</ul>
						</div>
						<!-- .col-md-3 end -->
					</div>
					<!-- .row end -->
				</div>
				<!-- container end -->
			</li>
		</ul>
		<!-- .mega-dropdown-menu end -->
	</li>				</ul>