<section id="testimonial1" class="testimonial testimonial-boxed testimonial-1">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="heading heading-1 mb-20 text--center">
					<p class="heading--subtitle">Testimonials</p>
					<h2 class="heading--title">Why People Believe in Us!</h2>
					<div class="divider--line divider--center mb-0"></div>
				</div>
			</div><!-- .col-md-8 end -->
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div id="testimonial-carousel" class="carousel carousel-dots" data-slide="3" data-slide-rs="1" data-autoplay="false" data-nav="false" data-dots="true" data-space="0" data-loop="true" data-speed="800" data-center="true">
					<!-- Testimonial #1 -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>League agency is the most impressive & great social media agencies I've ever seen. From the intuitive interface to the powerful tools!</p>
						</div><!-- .testimonial-body end -->
						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/1.png" alt="Testimonial Author">
							</div>
							<div class="testimonial--meta-content">
								<h4>Mahmoud Baghagho</h4>
								<p>7oroof Agency</p>
							</div>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->
					
					<!-- Testimonial #2 -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>My project was a simple task, but the persistence & determination of the team turned it into a great project which make me happy!</p>
						</div><!-- .testimonial-body end -->
						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/2.png" alt="Testimonial Author">
							</div>
							<div class="testimonial--meta-content">
								<h4>ayman fikry</h4>
								<p>zytheme</p>
							</div>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->
					
					<!-- Testimonial #3 -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						
						<div class="testimonial--body">
							<p>In my job as social media strategist, I've tried every analytics product on the market and when I came across league</p>
						</div><!-- .testimonial-body end -->
						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/3.png" alt="Testimonial Author">
							</div>
							<div class="testimonial--meta-content">
								<h4>Fouad badawy</h4>
								<p>Tie Labs Inc</p>
							</div>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->
					
					
					<!-- Testimonial #4 -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>In my job as social media strategist, I've tried every analytics product on the market and I was blown away!</p>
						</div><!-- .testimonial-body end -->
						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/4.png" alt="Testimonial Author">
							</div>
							<div class="testimonial--meta-content">
								<h4>Mostafa Mabrook</h4>
								<p>Code 125</p>
							</div>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->
				</div>
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #testimonial1 end -->