
<style>
	.testimonial--body{
		font-style:;
	}

</style>



<section id="testimonia2" class="testimonial testimonial-wide testimonial-2 bg-white">
	<div class="container">
		  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <div class="heading heading-2 mb-50 text--center">
          <p class="heading--subtitle">These are some of my</p>
          <h2 class="heading--title heding--center">References</h2>
          <div class="divider--line divider--center"></div>
        </div>
      </div><!-- .col-md-8 end -->
    </div><!-- .row end -->
  </div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
				 <div id="testimonial-wide" class="carousel carousel-dots" data-slide="1" data-slide-rs="1" data-autoplay="false" data-nav="false" data-dots="true" data-space="0" data-loop="true" data-speed="800">
					<!-- Testimonial #1 -->
					<div class="testimonial-panel">
					<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>Within a few weeks of joining Springbox Alejandro was treated as a regular developer on the team, where he benefitted tremendously from working directly with Springbox Architects on complex projects. Alejandro became so valuable to the team, that I allowed him opt out from a planned intern group project so he could continue contributing as a de facto member of the Technology team. 
							</p>
						</div><!-- .testimonial-body end -->
						
						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/paul.png" alt="Testimonial Author">
							</div>
							<h4>Paul Boomgaart</h4>
							<p>CTO at Springbox Digital Partners</p>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->
					
					<!-- Testimonial # -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>Alejandro is an active 3 Day Startup team member that holds regular 3DS events as a 3DS Facilitator. He earned the 3DS Leadership Award and became a 3DS evangelist since.</p>
						</div><!-- .testimonial-body end -->
						
						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/cam.png" alt="Testimonial Author">
							</div>
							<h4>Cam Houser</h4>
							<p>CEO 3 Day Startup </p>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->
					
					<!-- Testimonial #1 -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>I met Alejandro and we instantly connected. We attended a Tony Robbins' conference and walked across burning coals. He is a go-getter than loves adventure and making people's days better. Alejandro is driven and and active in Austin's startup scene.</p>
						</div><!-- .testimonial-body end -->
						
						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/jd.png" alt="Testimonial Author">
							</div>
							<h4>JD Weinstein</h4>
							<p>Venture Labs Lead at </p>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->
					
					
					<!-- Testimonial #1 -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>Alejandro is a major asset for any organization that values innovation and creative work. After many failed invitations to come to UT as a guest speaker I finally agreed to come and saw first hand his work and dedication to the school. </p>
						</div><!-- .testimonial-body end -->
						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/gerardo.png" alt="Testimonial Author">
							</div>
							<h4>Gerardo Casanova</h4>
							<p>General Manager ESPN Latin America</p>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->
				</div>
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #testimonial2 end -->