<style>

html {
  font-size: 1.9em;
}
body {
  background-color: #fff;

}

.social-media{
  padding-top:50px;
}
/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}





.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}
.tumblr span {
  background-color: #34526f;
}
.instagram span {
  background-color: #517fa4;
}
.youtube span {
  background-color: #bb0000;
}
.linkedin span {
  background-color: #0077b5;
}



.icon-button .fa-twitter {
  color: #4099ff;
}
.icon-button .fa-facebook {
  color: #3B5998;
}
.icon-button .fa-tumblr {
  color: #34526f;
}
.icon-button .fa-google-plus {
  color: #db5a3c;
}
.icon-button .fa-instagram {
  color: #517fa4;
}
.icon-button .fa-youtube {
  color: #bb0000;
}
.icon-button .fa-linkedin {
  color: #0077b5;
}




.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest,
.icon-button:hover .fa-linkedin{
  color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
  body {

    padding: 10px;
  }
  .pinterest {
   display: none; 
  }

}


</style>


<section id="workflow" class="workflow">
    <div class="heading heading-2 mb-40 text--center">
          <p class="heading--subtitle">Let's start out with</p>
          <h2 class="heading--title">Who am I?</h2>
          <div class="divider--line divider--center"></div>
    </div>
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
      </div><!-- .col-md-8 end -->
    </div><!-- .row end -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#Brainstorming" data-toggle="tab"></a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Brainstorming">
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-6 pr-0">
                <div class="col-img">
                  <div class="bg-section">
                    <img src= "assets/images/workflow/1.jpg" alt="Background"/>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-6 pl-0">
                <div class="col-content bg-white">
                  <h4>Your Digital Partner</h4>
                  <p>My name is Alejandro Diez and I'm a Web-Developer / Digital-Marketer. I build kick ass brands that tell awesome stories and have a passion for digital solutions. In this site you can see my background and previous work, current projects and future goals, hopefully we share some in common.</p>
                  
                  <div class="social-media">
                      <a href="#" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
                      <a href="#" class="icon-button facebook"><i class="fa fa-facebook"></i><span></span></a>
                      <a href="#" class="icon-button linkedin"><i class="fa fa-linkedin"></i><span></span></a>
                      <a href="#" class="icon-button youtube"><i class="fa fa-youtube"></i><span></span></a>
                  </div>
                </div>
              </div>
            </div><!-- .row end -->
          </div><!-- .tab-pane end -->
          </div>
        </div>
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section> <!-- #workflow end -->

