<section id="workflow" class="workflow">
    <div class="heading heading-2 mb-40 text--center">
          <p class="heading--subtitle">Let's start out with</p>
          <h2 class="heading--title">Who am I?</h2>
          <div class="divider--line divider--center"></div>
    </div>
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
      </div><!-- .col-md-8 end -->
    </div><!-- .row end -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#Brainstorming" data-toggle="tab"></a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Brainstorming">
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-6 pr-0">
                <div class="col-img">
                  <div class="bg-section">
                    <img src= "assets/images/workflow/1.jpg" alt="Background"/>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-6 pl-0">
                <div class="col-content bg-white">
                  <h4>On a quest to Optimize the World</h4>
                  <p>Hi there, my name is Alejandro Diez and I'm a Web-Developer / Digital-Marketer. I build kick ass brands that tell awesome stories and have a passion for digital solutions. In this site you can see my background and previous work, current projects and future goals, hopefully we share some in common.</p>
                  <a class="btn btn--primary mt-20" href="#">Look me up</a>
                </div>
              </div>
            </div><!-- .row end -->
          </div><!-- .tab-pane end -->
          </div>
        </div>
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section> <!-- #workflow end -->