<!DOCTYPE html>
<html>
{% include head.html %}
    <body>
{% include header.html %}

{% include hero.html %}
<section id="skills4" class="skills bg-white">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <div class="heading heading-2 mb-50 text--center">
          <p class="heading--subtitle">Who we are?</p>
          <h2 class="heading--title heding--center">We Are League Agency</h2>
          <div class="divider--line divider--center"></div>
        </div>
      </div><!-- .col-md-8 end -->
    </div><!-- .row end -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="text-right mb-60">League is not just about graphic design; it's more than that. We offer 
          integral communication services, and we're responsible for our process and results. We thank each of our clients and their projects; thanks to them we have grown and built what we are today!</p>
        <!-- progress 1 -->
        <div class="progressbar">
          <div class="progress-title">
            <span class="title">Marketing</span>
            <span class="value">95%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <!-- .progressbar end -->
        
        <!-- progress 3 -->
        <div class="progressbar">
          <div class="progress-title">
            <span class="title">User Experience</span>
            <span class="value">81%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <!-- .progressbar end -->
      </div><!-- .col-md-6 end -->
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="mb-60">Our agency can only be as strong as our people and because of this, our team have run their own businesses, designed game changing products, consulted for companies as well as competed collegiately and professionally when it comes to sports.</p>
        <!-- progress 2 -->
        <div class="progressbar">
          <div class="progress-title">
            <span class="title">Development</span>
            <span class="value">87%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <!-- .progressbar end -->
        
        <!-- progress 4 -->
        <div class="progressbar">
          <div class="progress-title">
            <span class="title">Branding</span>
            <span class="value">70%</span>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <!-- .progressbar end -->
      </div>
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #skills4 end -->


<!-- workflow
===
=== === === === === === === === === === === === === === -->
<section id="workflow" class="workflow">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <div class="heading heading-1 mb-30 text--center">
          <p class="heading--subtitle">Explore and Create</p>
          <h2 class="heading--title">Build Your Own Website</h2>
          <p class="heading--desc">League impresses you with fully responsiveness and highly customization. We did it in combination of very clean and flexible design.</p>
          <div class="divider--line divider--center mb-0"></div>
        </div>
      </div><!-- .col-md-8 end -->
    </div><!-- .row end -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#Brainstorming" data-toggle="tab">Brainstorming</a>
          </li>
          <li><a href="#Prototype" data-toggle="tab">Prototype</a>
          </li>
          <li><a href="#Design" data-toggle="tab">Design</a>
          </li>
          <li><a href="#Evaluation" data-toggle="tab">Evaluation</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Brainstorming">
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-6 pr-0">
                <div class="col-img">
                  <div class="bg-section">
                    <img src= "assets/images/workflow/1.jpg" alt="Background"/>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-6 pl-0">
                <div class="col-content bg-white">
                  <h4>Take all data <br>and think about it!</h4>
                  <p>After all, as described in Web Design Trends 2015 & 2016, vision dominates a lot of our subconscious interpretation of the world around us. On top of that, pleasing images create a better user experience.</p>
                  <p>At League Agency, we shows only the best websites and portfolios built completely with passion, simplicity & creativity !</p>
                  <a class="btn btn--primary mt-20" href="#">read more</a>
                </div>
              </div>
            </div><!-- .row end -->
          </div><!-- .tab-pane end -->
          <div class="tab-pane" id="Prototype">
              <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-6 pr-0">
                <div class="col-img">
                  <div class="bg-section">
                    <img src= "assets/images/workflow/2.jpg" alt="Background"/>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-6 pl-0">
                <div class="col-content bg-white">
                  <h4>Work on the design<br>taking in mind.</h4>
                  <p>After all, as described in Web Design Trends 2015 & 2016, vision dominates a lot of our subconscious interpretation of the world around us. On top of that, pleasing images create a better user experience.</p>
                  <p>At League Agency, we shows only the best websites and portfolios built completely with passion, simplicity & creativity !</p>
                  <a class="btn btn--primary mt-20" href="#">read more</a>
                </div>
              </div>
            </div><!-- .row end -->
          </div><!-- .tab-pane end -->
          <div class="tab-pane" id="Design">
              <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-6 pr-0">
                <div class="col-img">
                  <div class="bg-section">
                    <img src= "assets/images/workflow/3.jpg" alt="Background"/>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-6 pl-0">
                <div class="col-content bg-white">
                  <h4>Know about customers and competitors.</h4>
                  <p>After all, as described in Web Design Trends 2015 & 2016, vision dominates a lot of our subconscious interpretation of the world around us. On top of that, pleasing images create a better user experience.</p>
                  <p>At League Agency, we shows only the best websites and portfolios built completely with passion, simplicity & creativity !</p>
                  <a class="btn btn--primary mt-20" href="#">read more</a>
                </div>
              </div>
            </div><!-- .row end -->
          </div><!-- .tab-pane end -->
          <div class="tab-pane" id="Evaluation">
              <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-6 pr-0">
                <div class="col-img">
                  <div class="bg-section">
                    <img src= "assets/images/workflow/4.jpg" alt="Background"/>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-6 pl-0">
                <div class="col-content bg-white">
                  <h4>Work on the design <br>and think about it!</h4>
                  <p>After all, as described in Web Design Trends 2015 & 2016, vision dominates a lot of our subconscious interpretation of the world around us. On top of that, pleasing images create a better user experience.</p>
                  <p>At League Agency, we shows only the best websites and portfolios built completely with passion, simplicity & creativity !</p>
                  <a class="btn btn--primary mt-20" href="#">read more</a>
                </div>
              </div>
            </div><!-- .row end -->
          </div><!-- .tab-pane end -->
        </div>
        </div><!-- .tabs end -->
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section> <!-- #workflow end -->


<!-- Portfolio 4 Column
============================================= -->
<section id="portfolio" class="portfolio portfolio-gallery portfolio-4col pt-0 pb-0 bg-white">
  <div class="container-fluid pr-0 pl-0">
    <div class="row">
      <!-- Portfolio Filter
      ============================================= -->
      <div class="col-xs-12 col-sm-12 col-md-12 portfolio-filter hidden-lg hidden-md">
        <ul class="list-inline mb-0">
          <li><a class="active-filter" href="#" data-filter="*">All</a></li>
          <li><a href="#" data-filter=".filter-branding">Branding</a></li>
          <li><a href="#" data-filter=".filter-packaging">packaging</a></li>
          <li><a href="#" data-filter=".filter-print">Print</a></li>
          <li><a href="#" data-filter=".filter-web">Web Development</a></li>
        </ul>
      </div>
      <!-- .Portfolio-filter end --> 
    </div>
    <div id="portfolio-all" class="row-no-padding">
      <!-- Portfolio #1 -->
      <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item filter-print">
        <div class="portfolio--img">
          <img src="assets/images/portfolio/gallery/3col/1.jpg" alt="Portfolio Item">
          <div class="portfolio--hover">
            <div class="portfolio--action">
              <div class="pos-vertical-center">
                <div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/1.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
                  <h4><a href="#"> Woman T Shirt MockUp</a></h4>
                </div>
                <div class="portfolio--cat">
                  <a href="#">Branding</a> , <a href="#">branding</a>
                </div>
              </div>
            </div><!-- .Portfolio-action end -->
          </div><!-- .Portfolio-hover end --> 
        </div><!-- .Portfolio-img end -->
      </div><!-- . portfolio-item end -->
      
      <!-- Portfolio #2 -->
      <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item filter-packaging">
        <div class="portfolio--img">
          <img src="assets/images/portfolio/gallery/3col/2.jpg" alt="Portfolio Item">
          <div class="portfolio--hover">
            <div class="portfolio--action">
              <div class="pos-vertical-center">
                <div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/2.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
                  <h4><a href="#">Black Fish Branding</a></h4>
                </div>
                <div class="portfolio--cat">
                  <a href="#">Branding</a> , <a href="#">Print</a>
                </div>
              </div>
            </div><!-- .Portfolio-action end -->
          </div><!-- .Portfolio-hover end --> 
        </div><!-- .Portfolio-img end -->
      </div><!-- . portfolio-item end -->
      
      <!-- Portfolio #3 -->
      <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item filter-branding">
        <div class="portfolio--img">
          <img src="assets/images/portfolio/gallery/3col/3.jpg" alt="Portfolio Item">
          <div class="portfolio--hover">
            <div class="portfolio--action">
              <div class="pos-vertical-center">
                <div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/3.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
                  <h4><a href="#">The Living Branding</a></h4>
                </div>
                <div class="portfolio--cat">
                  <a href="#">Branding</a> , <a href="#">Print</a>
                </div>
              </div>
            </div><!-- .Portfolio-action end -->
          </div><!-- .Portfolio-hover end --> 
        </div><!-- .Portfolio-img end -->
      </div><!-- . portfolio-item end -->
      
            <!-- Portfolio #4 -->
      <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item filter-branding">
        <div class="portfolio--img">
          <img src="assets/images/portfolio/gallery/3col/4.jpg" alt="Portfolio Item">
          <div class="portfolio--hover">
            <div class="portfolio--action">
              <div class="pos-vertical-center">
                <div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/4.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
                  <h4><a href="#">Free Coffee Cup Mockup</a></h4>
                </div>
                <div class="portfolio--cat">
                  <a href="#">Branding</a> , <a href="#">Print</a>
                </div>
              </div>
            </div><!-- .Portfolio-action end -->
          </div><!-- .Portfolio-hover end --> 
        </div><!-- .Portfolio-img end -->
      </div><!-- . portfolio-item end -->
      
      <!-- Portfolio #5 -->
      <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item filter-print">
        <div class="portfolio--img">
          <img src="assets/images/portfolio/gallery/3col/5.jpg" alt="Portfolio Item">
          <div class="portfolio--hover">
            <div class="portfolio--action">
              <div class="pos-vertical-center">
                <div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/5.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
                  <h4><a href="#">Black Fish Branding</a></h4>
                </div>
                <div class="portfolio--cat">
                  <a href="#">Branding</a> , <a href="#">Print</a>
                </div>
              </div>
            </div><!-- .Portfolio-action end -->
          </div><!-- .Portfolio-hover end --> 
        </div><!-- .Portfolio-img end -->
      </div><!-- . portfolio-item end -->
      
      <!-- Portfolio #6 -->
      <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item filter-branding">
        <div class="portfolio--img">
          <img src="assets/images/portfolio/gallery/3col/6.jpg" alt="Portfolio Item">
          <div class="portfolio--hover">
            <div class="portfolio--action">
              <div class="pos-vertical-center">
                <div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/6.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
                  <h4><a href="#">Gifts Box Mockup</a></h4>
                </div>
                <div class="portfolio--cat">
                  <a href="#">Branding</a> , <a href="#">Print</a>
                </div>
              </div>
            </div><!-- .Portfolio-action end -->
          </div><!-- .Portfolio-hover end --> 
        </div><!-- .Portfolio-img end -->
      </div><!-- . portfolio-item end -->
      
      <!-- Portfolio #7 -->
      <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item filter-web">
        <div class="portfolio--img">
          <img src="assets/images/portfolio/gallery/3col/7.jpg" alt="Portfolio Item">
          <div class="portfolio--hover">
            <div class="portfolio--action">
              <div class="pos-vertical-center">
                <div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/1.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
                  <h4><a href="#">bag mockup</a></h4>
                </div>
                <div class="portfolio--cat">
                  <a href="#">Branding</a> , <a href="#">mockup</a>
                </div>
              </div>
            </div><!-- .Portfolio-action end -->
          </div><!-- .Portfolio-hover end --> 
        </div><!-- .Portfolio-img end -->
      </div><!-- . portfolio-item end -->
      
      <!-- Portfolio #8 -->
      <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item filter-branding">
        <div class="portfolio--img">
          <img src="assets/images/portfolio/gallery/3col/8.jpg" alt="Portfolio Item">
          <div class="portfolio--hover">
            <div class="portfolio--action">
              <div class="pos-vertical-center">
                <div class="portfolio--zoom">
<a class="img-gallery-item" href="assets/images/portfolio/full/8.jpg" title="Portfolio Item"></a>
</div>
<div class="portfolio--title">
                  <h4><a href="#">The Living Branding</a></h4>
                </div>
                <div class="portfolio--cat">
                  <a href="#">Branding</a> , <a href="#">Print</a>
                </div>
              </div>
            </div><!-- .Portfolio-action end -->
          </div><!-- .Portfolio-hover end --> 
        </div><!-- .Portfolio-img end -->
      </div><!-- . portfolio-item end -->
    </div><!-- .row end -->
    <!-- .row end -->
  </div><!-- .container-fluid end -->
</section><!-- #portfolio end -->
<!-- Counter #1
============================================= -->
<section id="counter1" class="counter bg-white">
  <div class="container">
    <div class="row">
      <!-- count #1 -->
      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="count-box text-center">
          <div class="counting">538</div>
          <div class="count-title">Coffee Cups</div>
        </div>
      </div>
      <!-- .col-md-3 end -->
      
      <!-- count #2 -->
      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="count-box text-center">
          <div class="counting">106</div>
          <div class="count-title">Clients</div>
        </div>
      </div>
      <!-- .col-md-3 end -->
      
      <!-- count #3 -->
      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="count-box text-center">
          <div class="counting">215</div>
          <div class="count-title">Projects</div>
        </div>
      </div>
      <!-- .col-md-3 end -->
      
      <!-- count #4 -->
      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="count-box text-center">
          <div class="counting">79</div>
          <div class="count-title">Awards</div>
        </div>
      </div>
      <!-- .col-md-3 end -->
      

    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #counter1 end -->

<!-- Info Box #1
============================================= -->
<section id="info1" class="info-box pt-0 pb-0 bg-theme">
  <div class="container-fluid">
    <div class="row comm-height">
      <div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100 pt-100">
        <h3>We love what we do and we do it with passion!</h3>
        <p>League is not just about graphic design; it's more than that. We offer integral communication services, and we're responsible for our process and results. We thank each client and their projects; thanks to them we have grown and built what we are today!</p>
        <p>Our agency can only be as strong as our people and because of this, our team have own businesses, designed game changing products, consulted for companies and competed collegiately and professionally when it comes to sports.</p>
        <a class="btn btn--white" href="#">read more</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
        <div class="bg-overlay">
          <div class="bg-section">
            <img src="assets/images/banners/1.jpg" alt="Background"/>
          </div>
          <div class="pos-vertical-center ">
            <div class="video--player text--center">
            <a class="popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
              <i class="icon icon-Play"></i> play video!
            </a>
          </div>
          </div>
        </div>
      </div><!-- .col-md-6 end-->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #info1 end -->

<!-- Info Box #9
============================================= -->
<section id="info9" class="info-box pt-0 pb-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-img p-0">
        <div class="col-img bg-overlay">
          <div class="bg-section">
            <img src="assets/images/banners/5.jpg" alt="Background"/>
          </div>
        </div>
      </div><!-- .col-md-6 end-->
      <div class="col-xs-12 col-sm-12 col-md-3 col-content info-box-small bg-dark3">
        <h6>Quick & smart</h6>
        <h3>Great Solutions</h3>
        <p>Rounding up a bunch of specific designs and talking about the merits of each is the perfect way to find common ground. Collecting a wide array of samples and inspiration is a great way to start your next awesome project. At its core, every brand has something special to reveal something that inspires people. We are a branding agency</p>
        <a class="btn btn--white" href="#">read more</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-content info-box-small bg-dark2">
        <h6>Friendly support</h6>
        <h3>Support in person</h3>
        <p>At its core, every brand has something special to reveal something that inspires people. We are a branding agency, this plan if you plan to create a small portfolio or busines showcase for you studio or business company. Rounding up a bunch of specific designs and talking about the merits of each is the perfect way to find. </p>
        <a class="btn btn--white" href="#">read more</a>
      </div>
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #info9 end -->

<!-- Blog Minimal Carousel
============================================= -->
<section id="blog" class="blog blog-carousel blog-minimal pb-100">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <div class="heading heading-2 text--center mb-20">
          <p class="heading--subtitle">Latest News</p>
          <h2 class="heading--title">Our Insights & Articles</h2>
          <p class="heading--desc">Follow our latest news and thoughts which focuses exclusively on design, art, vintage, and also our latest work updates.</p>
          <div class="divider--line divider--center"></div>
        </div>
      </div><!-- .col-md-8 end -->
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="carousel carousel-dots" data-slide="3" data-slide-rs="2" data-autoplay="true" data-nav="false" data-dots="true" data-space="25" data-loop="true" data-speed="800">

        <!-- Blog Entry #1 -->
      <div class="blog-entry">
          <div class="entry--content">
            <div class="entry--format">
              <i class="fa fa-image"></i>
            </div>
            <div class="entry--meta">
              <span><a href="#">Business</a></span>
            </div>
            <div class="entry--title">
              <h4><a href="#">Four ways to cheer yourself up on the Next Blue Monday!</a></h4>
            </div>
            <div class="entry--bio">
              The third Monday of January is supposed to be the most depressing day of the year. Whether you believe that or not, the long nights, cold weather and trying to keep...
            </div>
            <div class="entry--footer">
              <div class="entry--date">
                Feb 22, 2017
              </div>
              <div class="entry--more">
                <a href="#"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
              </div>
            </div>
          </div>
          <!-- .entry-content end -->
        </div>
        <!-- .blog-entry end -->

      <!-- Blog Entry #2 -->
      <div class="blog-entry">
          <div class="entry--content">
            <div class="entry--format">
              <i class="fa fa-image"></i>
            </div>
            <div class="entry--meta">
              <span><a href="#">Modern</a> , <a href="#">Photography</a></span>
            </div>
            <div class="entry--title">
              <h4><a href="#">Old cameras can capture images better than nowdays</a></h4>
            </div>
            <div class="entry--bio">
              Actually, Woodstock was not the first outdoor festival to feature multiple bands over several days performing on a stage set up out in the middle of a farmer’s field...
            </div>
            <div class="entry--footer">
              <div class="entry--date">
                Feb 22, 2017
              </div>
              <div class="entry--more">
                <a href="#"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
              </div>
            </div>
          </div>
          <!-- .entry-content end -->
        </div>
        <!-- .blog-entry end -->

      <!-- Blog Entry #3 -->
      <div class="blog-entry">
          <div class="entry--content">
            <div class="entry--format">
              <i class="fa fa-image"></i>
            </div>
            <div class="entry--meta">
              <span><a href="#">Technology</a> , <a href="#">City</a></span>
            </div>
            <div class="entry--title">
              <h4><a href="#">New subway line has the most advanced technology</a></h4>
            </div>
            <div class="entry--bio">
              That may be true, but today, almost half a century later, Gary Eagle says it was only part of the story. “Well,” he begins, “it was a few things. We were hauling a piano through...
            </div>
            <div class="entry--footer">
              <div class="entry--date">
                Feb 22, 2017
              </div>
              <div class="entry--more">
                <a href="#"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
              </div>
            </div>
          </div>
          <!-- .entry-content end -->
        </div>
        <!-- .blog-entry end -->

      <!-- Blog Entry #4 -->
      <div class="blog-entry">
          <div class="entry--content">
            <div class="entry--format">
              <i class="fa fa-image"></i>
            </div>
            <div class="entry--meta">
              <span><a href="#">Design</a> , <a href="#">Tips</a></span>
            </div>
            <div class="entry--title">
              <h4><a href="#">7 Signs You’re Not A Good UX Designer Yet!Discussion</a></h4>
            </div>
            <div class="entry--bio">
              UX Designer is still a relatively new profession, and one that is still being defined. Emil suggests it is an often misinterpreted role and that ‘User Experience Designer’ is...
            </div>
            <div class="entry--footer">
              <div class="entry--date">
                Feb 22, 2017
              </div>
              <div class="entry--more">
                <a href="#"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
              </div>
            </div>
          </div>
          <!-- .entry-content end -->
        </div>
        <!-- .blog-entry end -->

      <!-- Blog Entry #5 -->
      <div class="blog-entry">
          <div class="entry--content">
            <div class="entry--format">
              <i class="fa fa-image"></i>
            </div>
            <div class="entry--meta">
              <span><a href="#">Money</a> , <a href="#">Tips</a></span>
            </div>
            <div class="entry--title">
              <h4><a href="#">15 Money Tips To Make You Rich In the end of 2015</a></h4>
            </div>
            <div class="entry--bio">
              To make 2015 your most lucrative year yet, you may have to do some things differently than what you've done in the past.Here are 15 action items that can put you ahead...
            </div>
            <div class="entry--footer">
              <div class="entry--date">
                Feb 22, 2017
              </div>
              <div class="entry--more">
                <a href="#"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
              </div>
            </div>
          </div>
          <!-- .entry-content end -->
        </div>
        <!-- .blog-entry end -->

      <!-- Blog Entry #6 -->
      <div class="blog-entry">
          <div class="entry--content">
            <div class="entry--format">
              <i class="fa fa-image"></i>
            </div>
            <div class="entry--meta">
              <span><a href="#">Travel</a></span>
            </div>
            <div class="entry--title">
              <h4><a href="#">Don’t miss Top Things To Do In San Francisco </a></h4>
            </div>
            <div class="entry--bio">
              As the shimmering "City by the Bay," San Francisco’s distinctive terrain – water on one side, hills on the other – leads to spectacular views and experiences that could...
            </div>
            <div class="entry--footer">
              <div class="entry--date">
                Feb 22, 2017
              </div>
              <div class="entry--more">
                <a href="#"><i class="fa fa-long-arrow-right"></i><span>more</span></a>
              </div>
            </div>
          </div>
          <!-- .entry-content end -->
        </div>
        <!-- .blog-entry end -->
      </div><!-- .carousel end -->
      </div><!-- .col-md-12 end -->
    </div><!-- .row end -->
  </div><!-- .container end -->
</section><!-- #blog end -->

<!-- Contact
============================================= -->
<section id="contact" class="contact pb-0 pt-0">
  <div class="container-fluid pr-0 pl-0">
    <div class="row">
      <div class="col-xs-12  col-sm-12  col-md-12 pr-0 pl-0">
        <div class="bg-overlay" style="width:100%;height:498px;">
          <div class="bg-section">
            <img src="assets/images/background/bg-11.jpg" alt="background">
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
    <div class="row contact-row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <div class="heading heading-6 text--center mb-70">
          <p class="heading--subtitle text-white">Contact Us</p>
          <h2 class="heading--title  text-white">Get in Touch</h2>
          <div class="divider--line divider--center divider--medium divider--white"></div>
        </div>
      </div><!-- .col-md-8 end -->
      <div class="clearfix"></div>
      <!-- Contact Panel #1 -->
      <div class="col-xs-12 col-sm-6 col-md-3 contact-panel">
        <i class="lnr lnr-map-marker"></i>
        <h3>Our Address</h3>
        <p>Alnahas Building, 2 AlBahr St, Tanta AlGharbia, Egypt.</p>
        <a class="contact-action" href="#">Directions</a>
      </div><!-- .col-md-4 end -->
      <!-- Contact Panel #2 -->
      <div class="col-xs-12 col-sm-6 col-md-3 contact-panel">
        <i class="lnr lnr-phone-handset"></i>
        <h3>Our Phone</h3>
        <p>Office Telephone : 002 01065370701 Mobile : 002 01065370701</p>
        <a class="contact-action" href="#">Call Us</a>
      </div><!-- .col-md-4 end -->
      <!-- Contact Panel #3 -->
      <div class="col-xs-12 col-sm-6 col-md-3 contact-panel">
        <i class="lnr lnr-envelope"></i>
        <h3>Our Email</h3>
        <p>Main Email : ayman@zytheme.com Inquiries : Info@zytheme.com</p>
        <a class="contact-action" href="#">Send a Message</a>
      </div><!-- .col-md-4 end -->
      <!-- Contact Panel #4 -->
      <div class="col-xs-12 col-sm-6 col-md-3 contact-panel">
        <i class="lnr lnr-users"></i>
        <h3>Our Support</h3>
        <p>Support : ayman@zytheme.com Sales : Sales@zytheme.com</p>
        <a class="contact-action" href="#">Open a Ticket</a>
      </div><!-- .col-md-4 end -->
    </div><!-- .row end -->
  </div><!-- .container end -->
</section><!-- #contact end -->
<!-- Clients Carousel
============================================= -->
<section id="clients" class="clients clients-carousel">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-dots" data-slide="6" data-slide-rs="2" data-autoplay="true" data-nav="false" data-dots="false" data-space="30" data-loop="true" data-speed="3000">
      <!-- Client #1 -->
        <div class="client">
          <img class="center-block" src="assets/images/clients/1.png" alt="client">
        </div>

      <!-- Client #2 -->
        <div class="client">
          <img class="center-block" src="assets/images/clients/2.png" alt="client">
        </div>
      
      <!-- Client #3 -->
        <div class="client">
          <img class="center-block" src="assets/images/clients/3.png" alt="client">
        </div>
      
      <!-- Client #4 -->
        <div class="client">
          <img class="center-block" src="assets/images/clients/4.png" alt="client">
        </div>
      
      <!-- Client #5 -->
        <div class="client">
          <img class="center-block" src="assets/images/clients/5.png" alt="client">
        </div>
      
      <!-- Client #6 -->
        <div class="client">
          <img class="center-block" src="assets/images/clients/6.png" alt="client">
        </div>
        </div>
      </div><!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #clients end -->
<!-- Footer #1
============================================= -->
    {% include footer.html %}
    </body>
</html>
