<section id="workflow" class="workflow">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <div class="heading heading-1 mb-30 text--center">
          <div class="divider--line divider--center mb-0"></div>
        </div>
      </div><!-- .col-md-8 end -->
    </div><!-- .row end -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#Brainstorming" data-toggle="tab">Brainstorming</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Brainstorming">
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-6 pr-0">
                <div class="col-img">
                  <div class="bg-section">
                    <img src= "assets/images/workflow/1.jpg" alt="Background"/>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-6 pl-0">
                <div class="col-content bg-white">
                  <h4>Take all data <br>and think about it!</h4>
                  <p>After all, as described in Web Design Trends 2015 & 2016, vision dominates a lot of our subconscious interpretation of the world around us. On top of that, pleasing images create a better user experience.</p>
                  <p>At League Agency, we shows only the best websites and portfolios built completely with passion, simplicity & creativity !</p>
                  <a class="btn btn--primary mt-20" href="#">read more</a>
                </div>
              </div>
            </div><!-- .row end -->
          </div><!-- .tab-pane end -->
          </div>
        </div>
      </div>
      <!-- .col-md-12 end -->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section> <!-- #workflow end -->
